@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Thin.ttf") format('truetype')  ;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype')  ;
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-MediumItalic.ttf") format('truetype')  ;
	font-weight: 500;
	font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype')  ;
	font-weight: 700;
	font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-BoldItalic.ttf") format('truetype')  ;
	font-weight: 700;
	font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype')  ;
	font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype')  ;
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype')  ;
	font-weight: 500;
	font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype')  ;
	font-weight: 700;
	font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format('truetype')  ;
	font-weight: 700;
	font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format('truetype')  ;
	font-weight: 600;
	font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
    url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
    url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
    url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
    url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    height: 100%;
    color: #444444;
    font-size: 16px;
}

button {
    object-fit: contain;
    background-color:#3ca0ff;
    height: 56px;
    letter-spacing: 4.2px;
    text-align: center;
    color: #ffffff;
    border: none ;
    text-decoration: none;
    cursor: pointer;
    font-family: Montserrat;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    }

a {
    font-family: Montserrat;
    font-size: 20px;
    text-align: left;
    color: #43474b;
    text-decoration: none;

}

p {
    font-size: 20px;
}

h1 {
    font-size: 24px;
    font-weight: 500;
}

ul{
    margin: 0;
    padding: 0
}

textarea {
    width: 100%;
    height: 146px;
    vertical-align: middle;
    padding: 14px 5%;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: #ebebeb;
    resize: none;
    color: #08121f;

}

input:focus {
    outline: none;
}

input {
    width: 100%;
    height: 64px;
    vertical-align: middle;
    padding: 0 5%;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: #ebebeb;
    color: #08131f;
}

input[type="checkbox"] {
    width: 33px;
    height: 27px;
    border: 2px solid #555;
    -webkit-appearance: none;
    background-color: #fff;
    padding: 9px;
    font-size: 20px;
    display: inline-block;
    position: relative;
    margin: 14px;
}

input:checked:focus {
    outline: none;
}

input:checked:after {
    content: '\2714';
    position: absolute;
    top: -3px;
    left: 6px;
    color: #555;
    border: none;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flex-height {
    flex: 1;
}



#header {
    width: 100%;
    height: 52px;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #3ca0ff;
    border: none;
    padding-top: 38px
}
#content {
    padding-top: 90px;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-flow: column;
    max-width: 900px;
    margin: auto;
}

#footer {
    padding: 24px 10%;
    height: 104px;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    background: white;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.21);
}
#footer.back-next-footer {
    padding-left: 7.5%;
    padding-right: 8%;
    box-shadow: none;

}

#header-logo{
    margin: 0 0 0 21px;
    width: 160px;
    height: 39px;
    background: url(../img/headerlogo.png) no-repeat;
    float: left
}
#profile { 
    float: right;
    text-align: left;
    margin-right: 21px;

}
#profile img {
    width: 34px;
    height: 34px;
    background-color: #d8d8d8;
    border: solid 2px #4cd964;
    border-radius: 19px;
    float: left;    
}

.btn-mid { 
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.media-list{
    margin-bottom: 0px;
}

.media-list li { 
    list-style-type: none;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex; 
    flex-button: button;
    width: 96px;
    height: 96px;   
}
.media-list img {
    width: 100%;

}
.btn-add-photo{
    height: 100%;

}
.btn-add-photo .fa{
    display: block
}
.btn-back {
    padding: 0 42px;
    width: 33%;
}
.btn-back:before {
    content: "\f053";
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info {
    font-size: 18px;
    color: #ffffff;
    line-height: 20px;
    float: left;
    margin-left: 6px;
    font-weight: 500;
}
.subtitle{
    font-size: 14px;
}
.form{
    background: #fff; 
    padding:3% 8% 0 8%;

}
.row {
    width: 100%;
    margin-bottom: 16px;
    float: none;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.error {
    font-size: 22px;
    line-height: 1.64;
    color: #d0011b;
    padding: 8px;
  }

button .fa {
    font-size: 22px
}

.btn-edit {
    margin: 105px 44px 0 0;
    width: 28%;
    height: 32%;

}

#picture-header h1 { 
    font-size: 36px;
    color: #ffffff;
    font-weight: lighter;
    position: absolute;
    top:64%;
    margin: 0;

} 
#info p {
    font-size: 16px;
    color: #444444;
    margin: 24px 0;
   
}
#info h1 {
    color: #414141;
    margin: 0 0;
}
#info .row {
    border-bottom: solid 1px #979797;
    
}
#info .row:last-child {
    border-bottom:none;
}

#picture-header{
    height: 184px;
    background:black;
    position: relative;
    padding-left:75px;
}
#picture-header .btn-back{
    width: 131px;
    height: 44px;
    border-radius: 4px;
    background-color: #ddb19a;
    margin-top: 28px;
    font-size: 16px;
    letter-spacing: 2.2px;
    text-align: center;
    padding: 0 10px 0 26px;
    text-transform: capitalize;
   
}

#picture-header .btn-back:before {
    content: "\f053";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.fixed-tabs #picture-header {
    margin-bottom: 56px;
}

.fixed-tabs .tab {
    position: fixed;
    z-index: 10;
    top: 90px;
    background: white;
    width: 100%;
}



.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: solid 1px #3ca0ff;
    
}
.data-header{
    background: #f0f0f0;
    padding:32px 24px 0 24px;
    
}
.data-header ul{
    list-style: none;
    display:flex;
}

.data-header li {
    flex-grow: 1;
    flex-basis: 0;  
    padding: 0 0 0 8px;
}
.data-header li.no-grow {
    flex-grow: 0;
}

.data-header li:first-child {
    padding-left: 0;
}



button.search:before {
    font-family: FontAwesome;
    content: "\f002";
    width: 100%;
    font-size: 20px;
    position: absolute;    
    left: 0;
    top: 0;
    line-height: 44px;
}
button.sort-down {
    padding: 0 32px;
    box-sizing: border-box;
}
button.sort-down:before {
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f078";
    position: absolute;    
    left: 10px;
    top: 0;    
}
.tab li {
    list-style: none;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 0;
    line-height: 20px;    
    transition: 0.3s;
    font-family: Montserrat;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: #3ca0ff;
    width: 100%;
}


.tab li.active {
    border-bottom: 2px solid;
    font-weight: 500;
}

.tab li:hover {
    font-weight: 500;
}


.tabcontent {
    display: none;
    border-top: none;
    font-size: 24px;
    font-weight: 500;
    color: #414141;
    padding: 0;

}

.tabcontent.active {    
    flex: 1;
    display: flex;
    flex-flow: column; 
}

#info.tabcontent{
    padding: 64px 86px;
}
.data-header button{
    background-color:#8dc7f1;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0 32px;
    height: 44px;
    line-height: 44px;
      
   }
.data-header li.active button{
    background-color: #3ca0ff;

}
.data-header .search-input {
    background: #fff;
}
.data-list{
    padding: 16px 24px;
    background: #f0f0f0;
    flex: 1;
}
.data-list li{
    list-style-type: none;  
    height: auto;
    overflow: hidden;
    padding: 32px;
    color: #08121f;
    font-weight: normal;
    border-bottom: 1px solid #d3d3d3;
    background: #fff;
}
.data-list .subtitle{
    font-size: 20px;
    text-align: left;
    color: #444444;
}

.search-input{
    height: 36px;
    padding: 0 24px;
}
.see-on-map{
    margin: 16px 0;
}
#info .phone{
    padding-left:  66px;
    font-size: 16px;
    color: #444444;
}
#info .e-mail{
    padding-right: 79px;
    font-size: 16px;
    color: #444444;
}
.header-back{
    width: 240px;
    height: 44px;
    font-weight: 600;
}
.header-title{
    font-size: 18px;
    letter-spacing: 4.7px;
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    position: absolute;
    width: 40%;
    bottom: 16px;
    left: 30%;
}

.data-list li.selected{
    border-left: 4.5px solid #3ca0ff;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.18);
    background-color: #f1f5f7;
}
.data-header .search-input-wrapper {
    display: none;
}


.search-input-wrapper {
    position: relative;

}

.search-input-wrapper:after {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    right: 14px;
    top: 0;
    line-height: 36px;
    color: #9b9b9b;
}

.dashboard .search-input-wrapper:after {
    left: 32px;
    top: 12px;
}

.contacts-list img {
    width:96px;
    height: 96px;
}

.contacts-list li {
    height: auto;
    padding: 0;
}

.contact-name{
    font-size: 20px;
    margin-left: 128px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #08131f;

}
.contact-info{
    font-size: 16px;
    margin-left: 128px;
    color: #444444;
}
.contacts-list .phone{
    float: right;
    padding-right: 32px;
    font-size: 16px;


}
.contacts-list .e-mail{
    float: right;
    padding-right: 32px;

}

.structure-info{
    margin: 60px 24px 0px 24px;
    height: 90px;
    border-bottom: 4px solid #3ca0ff;



}
.structure-info div{
    float: left;
    padding: 30px 30px;
    font-size: 20px;
    font-weight: 300;

}



.segment:before {
    content: "\f053";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 44px;

}

.level1{

}
.node{

}
.node-volume{

}

button .contact-photo{
    position: absolute;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    left:20px;
}
.select-style {
    padding-left: 5%;
    background-color: #ebebeb;
    overflow: hidden;
    position: relative;
}

.select-style select {
    width: 100%;
    height: 64px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: #ebebeb;
    color: #707070;

}

.select-style select:focus {
    outline: none;
}
.select-style  {
    position: relative;
}
.select-style:after {
    font-family: FontAwesome;
    font-size: 24px;
    content: "\f078";
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0px;
    background-color:#3ca0ff;
    border: none ;
    cursor: pointer;
    -webkit-appearance: none;
    pointer-events:none;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.form-header{
    font-size: 30px;
    font-weight: 300;
    color: #08131f;
    margin-bottom: 64px;
}
#logo {
    height: 40%;

}
#logo img{
    width: 55%;
    height: 27%;
    margin: 23%;
    margin-top: 25%;
    margin-bottom: 11%;
    border:none;
}

.dashboard{
    padding: 20% 8.5%;
}

.dashboard .search-input-wrapper input{
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #727272;
    /* margin: 4% 0; */
    padding: 0 13%;
    margin-bottom: 5%;
}


.dashboard .search-button{
    height: 60px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;

}
.dashboard button{
    margin-bottom: 2%;
    height:64px;
}

.check-row{
    margin-bottom: 8%;
}


