@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Light.ttf") format('truetype')  ;
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype')  ;
    font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype')  ;
	font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype')  ;
	font-weight: 700;
	font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype')  ;
    font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype')  ;
	font-weight: 500;
	font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format('truetype')  ;
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype')  ;
	font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Regular.ttf") format('truetype')  ;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
    url('../fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
    url('../fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
    url('../fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
    url('../fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    height: 100%;
    color: #444444;
    font-size: 16px;
}
button {
    object-fit: contain;
    background-color:#3ca0ff;
    height: 56px;
    letter-spacing: 4.2px;
    text-align: center;
    color: #ffffff;
    border: none ;
    text-decoration: none;
    cursor: pointer;
    font-family: Montserrat;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
}
a {
    font-family: Montserrat;
    font-size: 20px;
    text-align: left;
    color: #43474b;
    text-decoration: none;
    cursor: pointer;
}
p {
    font-size: 20px;
}
h1 {
    font-size: 24px;
    font-weight: 500;
}
ul{
    margin: 0;
    padding: 0
}
textarea {
    width: 100%;
    height: 146px;
    vertical-align: middle;
    padding: 14px 5%;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: #ebebeb;
    resize: none;
    color: #08121f;
}
input:focus {
    outline: none;
}
input {
    width: 100%;
    height: 64px;
    vertical-align: middle;
    padding: 0 5%;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: #ebebeb;
    color: #08131f;
}
input[type="checkbox"] {
    width: 33px;
    height: 27px;
    border: 2px solid #555;
    -webkit-appearance: none;
    background-color: #fff;
    padding: 9px;
    font-size: 20px;
    display: inline-block;
    position: relative;
    margin: 14px;
}
input:checked:focus {
    outline: none;
}
input:checked:after {
    content: '\2714';
    position: absolute;
    top: -3px;
    left: 6px;
    color: #555;
    border: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    font-size: 30px;
    font-family: FontAwesome;
    color: #444;
}
.checkboxes .pull-left {
    margin-right: 80px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.flex-height {
    flex: 1;
}
#header {
    width: 100%;
    height: 44px;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #3ca0ff;
    border: none;
    padding-top: 20px;
}
#content {
    padding-top: 66px;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-flow: column;
    max-width: 900px;
    margin: auto;
}
#footer {
    padding: 24px 10%;
    height: 104px;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    background: white;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.21);
}
#small-footer {
    box-sizing: border-box;
    z-index: 10;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    bottom: 6px;
}
#footer.back-next-footer {
    padding-left: 7.5%;
    padding-right: 8%;
    box-shadow: none;
}
#header-logo{
    margin: 0 0 0 21px;
    width: 160px;
    height: 39px;
    background: url(../img/headerlogo.png) no-repeat;
    float: left
}
#profile { 
    float: right;
    text-align: left;
    margin-right: 21px;
}
#profile img {
    width: 34px;
    height: 34px;
    background-color: #d8d8d8;
    border: solid 2px #4cd964;
    border-radius: 19px;
    float: left;    
}
.btn-mid { 
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-set-location {
    margin-bottom: 16px;
    padding-left: 24px;
}

.btn-set-location:before {
    content: "\f041";
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    left: 20px;
    top: 16px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.text-right {
    text-align: right;
}
.media-list{
    margin-bottom: 0;
}
.media-list li { 
    list-style-type: none;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 96px;
    height: 96px;   
}
.media-list img {
    width: 100%;
}
.btn-add-photo{
    height: 100%;
}
.btn-add-photo .fa{
    display: block
}
.btn-back {
    padding: 0 42px;
}
.btn-back:before {
    content: "\f053";
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-info {
    font-size: 18px;
    color: #ffffff;
    line-height: 20px;
    float: left;
    margin-left: 6px;
    font-weight: 500;
}
.form{
    background: #fff; 
    padding:3% 8% 0 8%;
}
.row {
    width: 100%;
    margin-bottom: 16px;
    float: none;
    height: auto;
    box-sizing: border-box;
}
.error {
    font-size: 22px;
    line-height: 1.64;
    color: #d0011b;
    padding: 8px;
}
button .fa {
    font-size: 22px
}

#picture-header .btn-edit {
    margin: 105px 44px 0 0;
    width: 28%;
    height: 32%;
}
#picture-header h1 {
    font-size: 36px;
    color: #ffffff;
    font-weight: lighter;
    position: absolute;
    top:64%;
    margin: 0;
}
#info p {
    font-size: 16px;
    color: #444444;
    margin: 24px 0;
}
#info h1 {
    color: #414141;
    margin: 0 0;
}
#info .row {
    border-bottom: solid 1px #979797;
}
#info .row:last-child {
    border-bottom:none;
}
#picture-header{
    height: 184px;
    background:black;
    position: relative;
    padding-left:75px;
}
#picture-header .btn-back{
    width: 131px;
    height: 44px;
    border-radius: 4px;
    background-color: #ddb19a;
    margin-top: 28px;
    font-size: 16px;
    letter-spacing: 2.2px;
    text-align: center;
    padding: 0 10px 0 26px;
    text-transform: capitalize;
}
#picture-header .btn-back:before {
    content: "\f053";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed-tabs #picture-header {
    margin-bottom: 56px;
}
.fixed-tabs .tab {
    position: fixed;
    z-index: 10;
    top: 90px;
    background: white;
    width: 100%;
}
.tab {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: solid 1px #3ca0ff;
}

.data-header {
    background: #f0f0f0;
    padding:32px 24px 0 24px;
}

.data-header ul {
    list-style: none;
    display:flex;
}
.data-header li {
    flex-grow: 1;
    flex-basis: 0;  
    padding: 0 0 0 8px;
}
.data-header li.no-grow {
    flex-grow: 0;
}
.data-header li:first-child {
    padding-left: 0;
}
button.search:before {
    font-family: FontAwesome;
    content: "\f002";
    width: 100%;
    font-size: 20px;
    position: absolute;    
    left: 0;
    top: 0;
    line-height: 44px;
}
button.sort-down {
    padding: 0 32px;
    box-sizing: border-box;
}
button.sort-down:before {
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f078";
    position: absolute;    
    left: 10px;
    top: 0;    
}
.tab li {
    list-style: none;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 0;
    line-height: 20px;    
    transition: 0.3s;
    font-family: Montserrat;
    font-size: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: #3ca0ff;
    width: 100%;
}
.tab li.active {
    border-bottom: 2px solid;
    font-weight: 500;
}
.tab li:hover {
    font-weight: 500;
}
.tabcontent {
    display: none;
    border-top: none;
    font-weight: 500;
    padding: 0;
}
.tabcontent.active {    
    flex: 1;
    display: flex;
    flex-flow: column; 
}

#info.tabcontent {
    padding: 64px 86px;
}

.data-header button {
    background-color:#8dc7f1;
    text-transform: capitalize;
    font-weight: 500;
    padding: 0 32px;
    height: 44px;
    line-height: 44px;
}

.data-header li.active button {
    background-color: #3ca0ff;
}
.data-header .search-input {
    background: #fff;
}
.tabcontent .data-list {
    background: #f0f0f0;
    flex: 1;
}
.data-list ul {
    padding: 3%;
}
.data-list li{
    padding: 2em;
}
.data-list li {
    list-style-type: none;  
    height: auto;
    overflow: hidden;
    font-weight: normal;
    border-bottom: 1px solid #d3d3d3;
    background: #fff;
}
.data-list .title {
    font-size: 20px;
    color: #08131f;
    margin-bottom: 16px;
}

.search-input {
    height: 36px;
    padding: 0 24px;
}

.see-on-map {
    margin: 16px 0;
}

.header-back {
    width: 24%;
    height: 44px;
    font-weight: 600;
}

.header-title {
    font-size: 18px;
    letter-spacing: 4.7px;
    text-align: center;
    color: #fff;
    font-family: Montserrat;
    position: absolute;
    width: 40%;
    bottom: 16px;
    left: 30%;
    font-weight: 600;
}

.data-list li.selected {
    border-left: 4.5px solid #3ca0ff;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.18);
    background-color: #f1f5f7;
}
.data-header .search-input-wrapper {
    display: none;
}
.search-input-wrapper {
    position: relative;
}
.search-input-wrapper:after {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    right: 14px;
    top: 0;
    line-height: 36px;
    color: #9b9b9b;
    width: 0;
}
.search-box .search-input-wrapper:after {
    left: 6%;
    top: 12px;
}
.li-info {
    box-sizing: border-box;
    margin: 20px 32px 20px 128px;
}
.bottom-subtitle {
    margin-top: 16px;
}
.notcompleted {
    color: #d0021b;
    font-size: 22px;
}
.completed {
    color: #7ed321;
    font-size: 22px;
}
.data-list img {
    width:96px;
    height: 96px;
}
.info-list li {
    height: auto;
    padding: 0;
}
.segment:before {
    content: "\f053";
    font-family: FontAwesome;
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 44px;
}
button .contact-photo {
    position: absolute;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    left:20px;
}
.select-style {
    padding-left: 5%;
    background-color: #ebebeb;
    overflow: hidden;
    position: relative;
}
.select-style select {
    width: 100%;
    height: 64px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    font-family: Roboto;
    background-color: #ebebeb;
    color: #707070;
}
.select-style select:focus {
    outline: none;
}
.select-style:after {
    font-family: FontAwesome;
    font-size: 24px;
    content: "\f078";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color:#3ca0ff;
    border: none ;
    cursor: pointer;
    -webkit-appearance: none;
    pointer-events:none;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.form-header{
    font-size: 30px;
    font-weight: 300;
    color: #08131f;
    margin-bottom: 64px;
}
#logo img{
    width: 55%;
    height: 27%;
    margin: 25% 23% 0;
    border:none;
}
#content .search-box {
    padding: 9% 10%;
}
.search-box .search-input-wrapper input {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #727272;
    padding: 0 2% 0 13%;
    margin-bottom: 5%;
}
.search-box .search-button {
    height: 60px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}
.btn-creat {
    padding: 0 10%;
}
.btn-creat button {
    margin-bottom: 2%;
    height:64px;
}
.structure-header {
    margin: 0 24px;
    height: 130px;
}
.structure-info {
    font-size: 20px;
    color: #08131f;
    padding-left: 80px;
    padding-top: 32px;
}
.small-btn {
    justify-content: center;
    margin-top: 50px;
    height: 44px;
    width: 218px;
    letter-spacing: 3.2px;
}
.tree {
    padding: 0 24px;
    list-style-type: none;
    font-size: 24px;
    color: #4a4a4a;
    flex: 1;
}
.node {
    padding: 9px 0 9px 52px;
    box-shadow: 1px 4px 10px 0 rgba(45, 90, 132, 0.16);
    margin-bottom: 4px;
    background-color: #ffffff;
    min-height: 64px;
    box-sizing: border-box;
    position: relative;
    list-style-type: none;
}
.tree .sort-down:before {
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f078";
    color: #9b9b9b;
    position: absolute;
    top: 24px;
    left: 20px;
}
.tree .sort-up:before {
    font-family: FontAwesome;
    font-size: 16px;
    content: "\f077";
    color: #9b9b9b;
    position: absolute;
    top: 24px;
    left: 20px;
}

.tree .node:after {
    font-family: FontAwesome;
    font-size: 30px;
    content: "\f142";
    color: #9b9b9b;
    position: absolute;
    top: 20px;
    right: 64px;
}
.node.active-node:after {
    display: none;
}
.tree ul {
    padding-left: 24px;
    list-style-type: none;
    overflow: hidden;
}
.tree .info {
    font-size: 14px;
}
.machine-node {
    border-left: 5px solid #7ebf3c;
}
.risk-group-node {
    border-left: 5px solid #3c34ff;
}
.risk-node {
    border-left: 5px solid #e47684;
}
.volume-node {
    border-top: 4px solid #3ca0ff;
    min-height: 68px;
}
.btn-edit-structure {
    background-color: #3c34ff;
    width: 142px;
    height: 44px;
    position: absolute;
    top: 9px;
    right: 92px;
    font-size: 14px;
    letter-spacing: 3.7px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.tree .btn-trash {
    background-color: #e47684;
    position: absolute;
    top: 9px;
    right: 26px;
    width: 44px;
    height: 44px;
}
#side-content {
    box-shadow: -2px 0 10px 0 rgba(0, 0, 0, 0.24);
    height: 100%;
}
.add-item {
    padding: 32px 16px;
}
.green-title {
    font-family: Lato;
    font-size: 20px;
    letter-spacing: 5.3px;
    color: #03a57b;
    padding-bottom: 32px;
}
#side-content .link-close {
    font-size: 30px;
    text-align: center;
    color: #9b9b9b;
    position: absolute;
    right: 25px;
    top: 28px;
}
.or-create .title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #08131f;
    padding-bottom: 16px;
}
.or-create .subtitle {
    font-size: 14px;
    text-align: center;
    color: #4a4a4a;
    padding-bottom: 32px;
}
#side-content .search-box .search-input-wrapper input {
    padding-left: 20%;
}
#side-content .search-box .search-input-wrapper input:focus {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #03a57b;
}
#side-content .select-style {
    padding: 0;
}
#side-content .select-style select {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #727272;
    padding: 0 0 0 10px;
}
#side-content .select-style:after {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #03a57b;
    font-size: 16px;
    color: #9b9b9b;
}
.result-title {
    font-size: 20px;
    color: #08131f;
    height: 44px;
    padding-left: 32px;
    margin: 0 0 20px 0;
    line-height: 44px;
    text-align: left;
}
.risk-group-title {
    background-color: rgba(60, 52, 255, 0.27)
}
.machine-title {
    background-color: rgba(3, 165, 123, 0.16);
}
.search-result {
    margin: 27px 28px 16px 28px;
}
.search-result-wrapper {
    text-align: center;
    padding-bottom: 16px;
}
.search-result-wrapper a {
    font-size: 18px;
    text-align: center;
    color: #3a405b;
    min-width: 48px;
    display: inline-block;
    position: relative;
    height: 48px;
    cursor: pointer;
}
.search-result-wrapper a:after {
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f078";
    color: #3a405b;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.volume-info {
    padding: 10px 20px;
}
.volume-info input {
    height: 60px;
}
.volume-info textarea {
    height: 230px;
}
.btn-clear {
    background-color: #e47684;
    letter-spacing: 3.2px;
    width: 100px;
    margin-right: 6px;
}
.btn-preset {
    width: 210px;
    letter-spacing: 3.2px;
}
.btn-add-structure {
    margin-top: 16px;
}
.btn-risk-value {
    margin-bottom: 16px;
    letter-spacing: 3.2px;
}
.table {
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 4px 22px 33px 0 rgba(0, 0, 0, 0.5);
    margin: 20px auto auto;
    border-spacing: unset;
}
.risk-box {
    width: 57.6px;
    height: 50.7px;
    display: inline-block;
}
.red-box {
    background-color: #d0021b;
}
.yellow-box {
    background-color: #f8e71c;
}
.green-box {
    background-color: #008002;
}
.question-box {
    background-color: #d4d4d4;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.table th {
    font-family: Montserrat;
    font-size: 24px;
    letter-spacing: 2.2px;
    color: #2e2e2e;
    font-weight: 400;
    padding: 0;
}
.table td {
    padding-right: 4px;
}
.th-border {
    border-bottom: solid 3px #e5e5e5;
    border-top: solid 3px #e5e5e5;
}
.search-result .node {
    color: #4a4a4a;
    font-size: 16px;
    min-height: 54px;
    padding: 0 0 0 10px;
    text-align: left;
    line-height: 54px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3.2px;
    margin-bottom: 16px;
}
.search-result .volume-node {
    border-left: 4px solid #3ca0ff;
    min-height: 54px;
    border-top: none;
}
#header .btn-edit {
    padding-right: 24px;
    text-align: right;
}
#header .btn-back:before {
    bottom: 12px;
}

.structure-header .title {
    font-size: 24px;
    font-weight: 500;
    color: #424242;
    clear: both;
    padding: 36px 0 0 0;
    text-align: center;
}

.audit-volume .volume-node {
    min-height: 88px;
    margin-bottom: 16px;
}

.audit-volume .node {
    padding: 24px 52px;
}

.audit-volume .node:after {
    top: 32px;
}

#footer.audit-volume-footer {
    padding-left: 7.5%;
    padding-right: 8%;
}

.change-name {
    padding: 32px 32px;
}

.change-name .green-title {
    padding-left: 10px;
}

.change-name input {
    background-color: #ffffff;
    border: solid 1px #727272;
    border-radius: 4px;
}

.change-name button {
    width: 210px;
    height: 44px;
}

.change-name #footer.back-next-footer {
    padding-left: 5%;
    padding-right: 4%;
    box-shadow: none;
}

.pink-btn {
    background-color: #e47684;
}